/* TEXT SECTION */
.website-title{
    font-weight: 400;
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 0px;
    white-space: nowrap;

    font-family: "Passion One", serif;
    font-weight: 700; /* 400 */
    font-style: normal;
}

.subtitle-purpose{
    font-size: 22px;
    margin-top: -4px;
    white-space: nowrap;
}

.subjects-text{
    margin-bottom: 0px;
    text-decoration: underline;
    font-weight: bold;
}

/* SUBJECTS CONTAINER SECTION */
.subjects-container{
    margin-left: 0px;
}

.subject-idenity-color{
    height: 18px;
    width: 18px;
    border-width: 2px;
    border-color: black;
}

.labels-extra{
    margin-left: 0px;
    width: 70px;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 7px;
}

.sleep{ background-color: rgb(66, 66, 66) !important;}
.social{ background-color: rgb(142, 240, 255) !important;}
.work{ background-color: rgb(133, 65, 22) !important;}
.art{ background-color: rgb(218, 0, 0) !important;}
.school{ background-color: rgb(142, 0, 203) !important; }
.CS{ background-color: blue !important; }
.reading{ background-color: rgb(165, 165, 165) !important; }
.org{ background-color: rgb(64, 80, 145) !important; }
.exercise{ background-color: rgb(28, 212, 28) !important;}
.reset { background-color: white !important;}