body {
    font-family: Arial, sans-serif;
}

.website-title{
    font-weight: bold;
    margin-left: 20px;
    font-size: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr); /* 24 columns for each hour */
    grid-gap: 5px;
    margin: 20px;
    margin-top: 10px;
}

.box {
    width: 40px;
    height: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.box:hover {
    border-color: #000;
}

.hour-labels{
    font-size: 10.15px;
    margin-top: 0px;
}

.weekday-container{
    margin-left: 20px;
}

.single-weekday{
    font-weight: bold;
}