body {
    font-family: Arial, sans-serif;
}


.body-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px; /* Creates space between columns */
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr); /* 24 columns for each hour */
    grid-gap: 5px;
    margin: 20px;
    margin-top: 10px;
    margin-left: 0px;
}

.box {
    width: 40px;
    height: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.box:hover {
    border-color: #000;
}

.hour-labels{
    font-size: 10.15px;
    margin-top: 0px;
    margin-left: 10px;
}

.weekday-container{
    margin-left: 20px;
    height: 300px;
    width: 200px;
}

.single-weekday{
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 4px;
}