body {
    font-family: Arial, sans-serif;
}

.body-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px; /* Creates space between columns */
    padding: 0 10vw;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr); /* 24 columns for each hour */
    grid-gap: 5px;
    margin: 20px;
    margin-top: 10px;
    margin-left: 0px;
}

.box {
    width: 40px;
    height: 18px;
    border: 1px solid #ccc;
    cursor: pointer;

    border-color: black;
    border-width: 2px;
}

.box:hover {
    border-color: #000;
}

.hour-labels{
    font-size: 10.15px;
    margin-top: 0px;
    margin-left: 10px;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
}

.weekday-container{
    height: 300px;
    width: 200px;
}

.single-weekday{
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: 20px;
}

.subject-skill{
    width: 24px;
    font-size: 12px;
    margin-bottom: 2px;
}