body{
    font-family: Arial;
}

.todo-grid,
.focus-input-grid{
    display: grid;
    grid-template-columns: 50px 45px 325px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.focus-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}

.right-alignment{
    text-align: right;
}

.focus-hour-number{
    height: 32px;
    display: flex;
    align-items: center;        /* vertical alignment */
    justify-content: center;    /* horizontal alignment */
}

.abb-input,
.focus-hour-input{
    font-size: 15px;
    padding: 6px;
}

.add-todo-button,
.delete-todo-button,
.edit-focus-hours-button,
.save-focus-hours-button{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.delete-todo-button{
    background-color: darkred;
    padding-top: 10px;
    padding-bottom: 10px;
}

.edit-focus-hours-button,
.save-focus-hours-button{
    background-color: black;
    padding: 0px 12px;
    margin-left: 245px;
    margin-top: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.focus-hour-subtitle{
    font-weight: 700;
    font-size: 22px;
    margin: 10px 0px;
    margin-top: 20px;
}

.focus-hour-top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
}

.button-group{
    display: relative;
    right: 0px;
}

.focus-hour-top-section .save-focus-hours-button,
.todo-grid .delete-todo-button {
    display: none;
}

.todo-grid{
    display: grid;
    grid-template-columns: 50px 45px 325px;
}

.todo-grid.is-editing .delete-todo-button{
    display: inline-block;
}

.focus-hour-top-section.is-editing .edit-focus-hours-button {
    display: none;
}

.focus-hour-section.is-editing .edit-focus-hours-button{
    display: none;
}

.delete-todo-button {
  display: none;
}

.focus-hour-section.is-editing .delete-todo-button {
  display: inline-block;
}

.focus-input-grid{
    display: none;
}

.is-editing .focus-input-grid,
.is-editing .todo-grid{
    display: grid;
    grid-template-columns: 50px 45px 325px 100px;
}

.focus-hour-section.is-editing .save-focus-hours-button{
    display: inline-block;
}