/* TEXT SECTION */
.website-title{
    font-weight: 400;
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 0px;
    white-space: nowrap;

    font-family: "Passion One", serif;
    font-weight: 700; /* 400 */
    font-style: normal;
}

.subtitle-purpose{
    font-size: 22px;
    margin-top: -4px;
    margin-bottom: 5px;
    white-space: nowrap;
}

.subjects-text{
    margin-bottom: 0px;
    margin-top: 0px;
    text-decoration: underline;
    font-weight: bold;
}

/* SUBJECTS CONTAINER SECTION */
.subjects-container{
    margin-bottom: 10px;
}

.subject-idenity-color{
    height: 18px;
    width: 18px;
    border-width: 2px;
    border-color: black;
}

.labels-extra{
    margin-left: 0px;
    width: 70px;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 7px;
}

.longer-names {
    width: 110px;
}

.edit-button {
    background-color: white;
    padding: 3px 12px;
    border-radius: 12px;
    font-weight: bold;
    transition: background-color 0.5s, color 1s;
    cursor: pointer;
}

.edit-button:hover{
    background-color: rgb(235, 235, 235);
}

.labels-extra.hover-border {
  position: relative;
  outline: 1px solid rgb(148, 148, 148);
  transition: outline 0.2s, color 0.2s;
}

.single-weekday-container{
    display: flex;
    justify-content: space-between;
}

.single-weekday{
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 8px;
    font-size: 20px;
}

.weekday-date{
    text-align: right;
    font-weight: bold;
    margin-top: 3px;
    margin-right: 3px;
}

.sleep{ background-color: rgb(66, 66, 66) !important;}
.social{ background-color: rgb(142, 240, 255) !important;}
.work{ background-color: rgb(133, 65, 22) !important;}
.art{ background-color: rgb(218, 0, 0) !important;}
.school{ background-color: rgb(142, 0, 203) !important; }
.CS{ background-color: blue !important; }
.reading{ background-color: rgb(165, 165, 165) !important; }
.org{ background-color: rgb(64, 80, 145) !important; }
.exercise{ background-color: rgb(28, 212, 28) !important;}
.reset { background-color: white !important;}