body {  font-family: Arial, sans-serif; }

.super-section {
    padding: 0 10vw;
}



/* Full Screen Code: */
@media(min-width: 1251px){
    .body-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 35px; /* Creates space between columns */
        
        padding-top: 20px;
        padding-bottom: 20px;
        width: 80%;
        max-width: 1000px;
        background-color: #fff;
    }
    .subjects-information {
        display: grid;
        grid-template-columns: 0.3fr 0.15fr 4fr;
        padding-bottom: 20px;
    }
}

/* Half-Screen Code */
@media(max-width: 1250px){
    .body-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px; /* Creates space between columns */
        padding-top: 20px;
        padding-bottom: 20px;
        width: 80%;
        max-width: 1000px;
        background-color: #fff;
    }
    .subjects-information {
        display: grid;
        grid-template-columns: 40px 60px auto;
        padding-bottom: 20px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr); /* 24 columns for each hour */
    grid-gap: 5px;
    margin: 20px;
    margin-top: 10px;
    margin-left: 0px;
}

.box {
    width: 40px;
    height: 18px;
    border: 1px solid #ccc;
    cursor: pointer;

    border-color: black;
    border-width: 2px;
}

.box:hover {
    border-color: #000;
}

.hour-labels{
    font-size: 10.15px;
    margin-top: 0px;
    margin-left: 10px;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
}

.primary-legend-container{
    margin-left: 10px;
}

.weekday-container{
    height: 300px;
    width: 250px;
}

.subject-skill{
    width: 24px;
    font-size: 12px;
    margin-bottom: 2px;
}

a {
    text-decoration: none; /* Removes underline */
}

.pair-buttons {
    background-color: white;
    padding: 3px 10px;
    border-radius: 10px;
    margin-right: 2px;
    transition: box-shadow 0.3s;
}

.pair-buttons:hover{
    cursor: pointer;
    /* background-color: rgb(235, 235, 235); */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);  
}

.reset-ALL{
    background-color: black;
    color: white;
    padding: 6px 12px;
    border-radius: 12px;
    border-width: 0;
    /* font-weight: bold; */
    transition: background-color 0.5s, color 1s;
}

.reset-ALL:hover{
    cursor: pointer;
    background-color: rgb(221, 0, 0);
}

.subject-tracker-text{
    font-weight: 700;
    font-size: 22px;
    margin: 5px 0px;
    margin-top: 20px;
}

.right-align{
    text-align: right;
    margin-right: 20px;
}

.screenshot-button{
    background-color: white;
    padding: 6px 12px;
    border-radius: 12px;
    font-weight: bold;
    transition: background-color 0.5s, color 1s;
}

.screenshot-button:hover{
    background-color: rgb(235, 235, 235);
}

.previous-week,
.next-week {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    object-position: center;
}

.previous-week {
    left: 60px;
    top: 350px;
}

.next-week {
    right: 60px;
    top: 350px;
}

.left-arrow-img {
    margin-top: 2px;
    margin-right: 2px;
    width: 16px;
    height: 23px;
}

.right-arrow-img {
    margin-top: 4px;
    margin-left: 7px;
    width: 20px;
    height: 23px;
}

.previous-week .tool-tip,
.next-week .tool-tip {
    position: absolute;
    background-color: rgb(136, 136, 136);
    color: white;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.previous-week:hover .tool-tip,
.next-week:hover .tool-tip {
    opacity: 1;
}

.tool-tip {
    margin-top: 18px;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%);
}