body{
    font-family: Arial;
}

.todo-list-body{
    padding: 20px;
    padding-left: 80px;
}

.todo-grid,
.todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 80px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}

.name-input,
.due-date-input{
    font-size: 15px;
    padding: 6px;
}

.add-todo-button,
.delete-todo-button{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.delete-todo-button{
    background-color: darkred;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: none; /* Removes underline */
}

.pair-buttons {
    background-color: white;
    padding: 3px 10px;
    border-radius: 10px;
    margin-right: 2px;
}

.pair-buttons:hover{
    cursor: pointer;
    /* background-color: rgb(235, 235, 235); */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);  
}

.task-master{
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0px;
}